

h1, h2, h3, h4, h5, h6 {
    align-content: center;
    margin-left: 30px;
}


.change {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    /*
    font-family: 'Lobster', cursive;
    */
    font-size: 60px;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

video {
    -o-object-fit: cover;
    object-fit: cover;
    width: 15vw;
    height: 15vw;
    border-radius: 100% 100% 100% 100%;
    padding-bottom: 0vw;
    padding-top: 0vw;
    padding-left: 0vw;
    padding-right: 0vw;
    margin-right: 0vw;
    margin-left: 5vw;
}

.category {
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
}

.video {
    display: inline-block;
    width: 300px;
    position: relative;
    margin-left: 70px;
    transition: 1s;
}

.video1 {
    display: inline-block;
    width: 300px;
    position: relative;
    margin-left: 170px;
    transition: 1s;
}

.video:hover {
    transform: scale(1.5);
}

.video1:hover {
    transform: scale(1.5);
}

.videos {
    margin-bottom: 14px;
}

.videos_1 {
    margin-top: 70px;
}
.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 10px 40px; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    vertical-align: text-before-edge;


}